<!-- page accueil -->

<header id="navbar" class="nav">
    <a class="navbar-brand" href="/">
			<img src="{{ asset('assets/uploads/logoeolia170px.png')}}" alt="char à voile Baie de Somme"></a>
     

     <div class="dropdown-1">
        <button>Consulter le planning</button> 
            <div class="content">
             <a href="{{ path('app_agenda') }}"> Toutes les activités</a> 
                 {% for category in generateCategoryLinks() %}
                 {#url_encode Twig convertit tous les caractères spéciaux et les caractères non sécurisés en leur équivalent codé en pourcentage (également appelé URL encoding).#}
                <a class="asous" href="{{ path('app_agenda_by_category', {'categoryTitle': category.titleCategory|url_encode}) }}">{{ category.titleCategory }}</a>
              {% endfor %}
            </div>
              {#{{ category.titleCategory|e }} #}

    </div>

         <a class="aderoulant" href="{{ path('app_calendar_filter')}}">Formulaire de recherche</a>

 			
        <a class="aderoulant" href="{{ path('app_contact_form')}}">Contact</a>
		
    




		{% if app.user %}

			
				<a href="{{ path('app_purchase') }}">Commandes</a>
			
				<a class="aderoulant" href="{{ path('app_logout') }}">Déconnexion</a>
			
				{# CartService enregistré dans twig.yaml#}
				<a href="{{ path('cart_index') }}"id="panier-link">🛒
			  	({{ cartService.total | amount }})
				</a>
			
			{% else %}
			
				<a href=" {{ path('app_registration')  }}">Création compte</a>
			
				<a href="{{ path('app_login') }}">Connexion</a>
			
			{% endif %}

       <a href="{{ path('app_admin_agenda') }}">Admin</a>




  </div>
   
</nav>


     <a class="icon" onclick = "myFunction()">&#9776;</a>

</header>


<div id="slider">
                <img class="imgslider" alt="char à voile" id="slide">

           
                <div id="precedent" onclick="ChangeSlide(-1)">&lt;</div>
                <div id="suivant" onclick="ChangeSlide(1)">&gt;</div>
</div>
<!--<div id="slidermobil">
           {#} 	<a class="slidera" href="/">  <img class ="imgslider" src="{{ asset('assets/uploads/slide/accueil-mobil-char.webp')}}" alt = "char à voile" id="slidemobil">#}
              </a> 

                <div id="precedentmob" onclick="ChangeSlideMob(-1)">&lt;</div>
                <div id="suivantmob" onclick="ChangeSlideMob(1)">&gt;</div>
</div> -->
 <button class="consultplaning" type="button">
   <a class="aderoulant" href="{{ path('app_presentation') }}">Réserver et Consulter le planing</a>
  </button>
<script>
   console.log("cc-menu.js");
/*le bouton icon va permuter nav et navresponsive au click */
function myFunction() {
 var x = document.getElementById("navbar");
 if (x.className === "nav") {
     x.className += " responsive";

 } else {
     x.className = "nav";
 }
}
// Récupérer l'élément du lien du panier
let panierLink = document.getElementById("panier-link");

// Récupérer le montant du panier
let montantPanier = parseFloat(panierLink.innerText.match(/([0-9.]+)/)[0]);

// Vérifier si le montant est différent de 0.00 €
if (montantPanier !== 0.0) {
  // Créer un nouvel élément de texte
  var texteFinaliserCommande = document.createTextNode(
    "Finalisez votre commande"
  );

  // Ajouter le texte à l'élément du lien du panier
  panierLink.appendChild(texteFinaliserCommande);

  // Appliquer le style rouge au texte ajouté
  panierLink.style.color = "red";
}
</script>
