{% extends 'base.html.twig' %}

{% block title %}calendar index{% endblock %}

{% block body %}
    <h1>Les séances</h1>

    <div id="search">
        <form id="searchForm">
            <div id="formsearch">
                <div>
                    <label for="valeurMin">Nombre de place recherché minimum:</label>
                    <input type="number" id="min-price" name="min" min="0" value="1" max="100" step="1">
                    <label for="calendar-select">Choisis une activité:</label>
                    <select name="category" id="calendar-select">
                        <option value="all" selected>Toutes les activités</option>
                        {% for categorie in categories %}
                            {% if categorie.activity %}
                                <option value="{{ categorie.titleCategory }}">
                                    {{ categorie.titleCategory }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>    
                </div>
                <div>
                    <label for="begin">Date début recherche</label>
                    <input type="date" id="begin" name="begin" value="{{ "now"|date("Y-m-d") }}">
                </div>
                <div>
                    <label for="end">Date fin de recherche</label>
                    {% set nextDay = "now"|date_modify("+15 day") %}
                    <input type="date" id="end" name="end" value="{{ nextDay|date("Y-m-d") }}">
                </div>
                <div>
                    <button class ="button" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    
    <div id="calendarList">
        <div id="loadingIndicator">
            <p>Veuillez patienter, nous lançons la recherche...</p>
            <div class="loader"></div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    
        
        <script src="{{ asset('assets/js/formsearchactivity.js') }}"></script>

    {% endblock %}
