{% extends 'base.admin.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Créer  Calendar</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

    <a href="{{ path('app_admin_agenda') }}">Retour à la liste</a>
{% endblock %}
