{% extends 'base.html.twig' %}

{% block title %}Calendar-show{% endblock %}

{% block body %}
   <div class="milieu">
    <h1> {{ calendar.title }}</h1>
       {% for item in picture %}
         {#   {{ dump(picture) }}   #}
           {% if item.picture is not null %}
               <img class="imgsite" src="{{ item.picture }}" alt="Image de {{ calendar.title }}">
           {% endif %}
       {% endfor %}


       <table class="table">
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ calendar.title }}</td>
                
            </tr>

        

            <tr>
                <th>Début de la séance</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
            <tr>
                <th>Fin de la séance</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
              <tr>
                <th>Prix</th>
                <td>{{ price | amount }}</td>
            </tr>
            <tr>
                <th>Quantité-disponible</th>
                <td>{{ calendar.stock }}</td>
            </tr>

               
           <!--  <tr>
                <th>quantité commandée</th>
                <td>{#}{{ sommequantitecommande }}#}</td>
                
            </tr> -->
      
      
  </tbody>
    </table>
     </div>   
    

{% if calendar.stock > 0 %}
     <div class="milieu">
           <a href="{{ path('cart_add', {'id': calendar.id}) }}">Ajouter au panier</a>
          <a href="{{ path('app_calendar_index') }}">Retour à la liste</a>
    </div>
{% else %}
    <div class="milieu">
                 <p>Stock insuffisant</p>
                
           </div>
{% endif %}
  
  
    
{% endblock %}
