{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
           Bonjour {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexiont</a>
        </div>
    {% endif %}

    <h1 class="titreLoginEmail">Connexion</h1>
    <label for="inputEmail" class="LabelLoginEmail">Email</label>
    <input type="email" class="inputLoginEmail" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    <label for="inputPassword" class="LabelLoginEmail">Password</label>
    <input type="password"  class="inputLoginEmail" name="password" id="inputPassword" autocomplete="current-password" required>

    <input type="hidden"   name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button type="submit" class="buttonLoginEmail">
        Valider
    </button>
</form>

<a href="{{ path('forgotten_password') }}" class = "lienOublie">Mot de passe oublié</a>
        </div>
{% endblock %}
