{% extends 'base.html.twig' %}

{% block title %}Calendar index{% endblock %}

{% block body %}
    <h1>Index des séances </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Catégorie</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>action</th>
                 <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for activitie in activities %}
            <tr>
                <td>{{ activitie.id }}</td>
                <td>{{ activitie.title }}</td>
                <td>{{ activitie.category }}</td>
                <td>{{ activitie.start ? activitie.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ activitie.end ? activitie.end|date('Y-m-d H:i:s') : '' }}</td>
                 <td>{{ activitie.price  }}</td>
                <td>{{ activitie.stock }}</td>
                <td>
                    <a href="{{ path('app_activitie_show', {'id': activitie.id}) }}">détailss</a>
                </td>
                 <td>
                    <a href="{{ path('cart_add', {'id': activitie.id}) }}">ajouter au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune correspondance trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
