{% extends 'base.html.twig' %}

{% block title %}Calendar-show{% endblock %}

{% block body %}
   <div class="milieu">
    <h1> {{ activitie.title }}</h1>
    {#   {% for item in picture %}
         {#   {{ dump(picture) }}   #}
    {#       {% if item.picture is not null %}
             <!--  <img class="imgsite" src="{#{{ item.picture }} " alt="Image de {#{{ activitie.title }}">-->
           {% endif %}
       {% endfor %}  #}


       <table class="table">
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ activitie.title }}</td>
                
            </tr>

        

            <tr>
                <th>Début de la séance</th>
                <td>{{ activitie.start ? activitie.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
            <tr>
                <th>Fin de la séance</th>
                <td>{{ activitie.start ? activitie.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
              <tr>
                <th>Prix</th>
                <td>{{ activitie.price | amount }}</td>
            </tr>
            <tr>
                <th>Quantité-disponible</th>
                <td>{{ activitie.stock }}</td>
            </tr>

               
           <!--  <tr>
                <th>quantité commandée</th>
                <td>{#}{{ sommequantitecommande }}#}</td>
                
            </tr> -->
      
      
  </tbody>
    </table>
     </div>   
    

{% if activitie.stock > 0 %}
     <div class="milieu">
           <a href="{{ path('cart_add', {'id': activitie.id}) }}">Ajouter au panier</a>
          <a href="{{ path('app_activitie_index') }}">Retour à la liste</a>
    </div>
{% else %}
    <div class="milieu">
                 <p>Stock insuffisant</p>
                
           </div>
{% endif %}
  
  
    
{% endblock %}
