{% extends 'base.admin.html.twig' %}

{% block title %}Calendarstaffplanning{% endblock %}

{% block body %}

{% if activitie  %}  
 
    <h1> Détail de la séances {{ calendar.title }} </h1>
   <h2>Date: {{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</h2>
    <div class ="show-detail">
    <img class="imgsite" src="{{ calendar.picture }}" alt="Image de {{ calendar.title }}">
    <h2> <a href="{{ path('admin_calendar_show_list_user_purchase', {'id': calendar.id}) }}">Liste des utilisateurs à imprimer </a></h2>

    </div>

    </tr>
    <table class="table">
        <tbody>


     


    
         {#   <th>Quantité-commandée</th>
         
           {{ dump(calendarQuantityClient.quantity) }} 
           <td>{{ calendarQuantityClient.quantity }}</td> #}
        

        <tr>
            <th>Nom du client</th>
            <th>Quantité commandée</th>
          <!--  <th>numero commande client</th>-->
            <th>Id client</th>
            <th>supprimer commande client</th>
        </tr>
                {% for clientName, totals in clientTotals %}
                    <tr>
                        <td>{{ clientName }}</td>
                        <td>{{totals.totalQuantity }}</td>
                     <!--   <td>{#  {{  totals.purchaseId}}#}</td> -->
                        <td>{{  totals.userId}}</td>
                       <td><a href="{{ path('admin_calendar_show_delete_user_purchase', {'id':id, 'userId':totals.userId} ) }}" data-confirm="Êtes-vous sûr de vouloir supprimer la commande de cet utilisateur?">Supprimer </a></td>
                      <td><a href="{{ path('all_userid_show', { 'id':totals.userId }) }}"> ouvrir la commande </a></td>
                    </tr>


                        {% endfor %}




<hr>
           <tr>
            <th>Total </th>
          <td>  {{ sommequantitecommande }} </td>
          </tr>
  <tr>
            <th>Quantité-restante</th>
            <td>{{ calendar.stock }}</td>
        </tr>
       
        <tr>
            <th>Titre</th>
            <td>{{ calendar.title }}</td>
        </tr>

        <tr>
            <th>Date de début</th>
            <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de fin</th>
            <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ calendar.price | amount }}</td>
        </tr>

        <tr>
            <th>Id activité</th>
            <td>{{ calendar.id }}</td>
        </tr>
   


        </tbody>
    </table>

   


    <div class="action">
 

                <a href="{{ path('admin_calendar_show_add_user', {'id': id}) }}">Ajouter un utilisateur</a>

    </div>

{% endif %}
   <h1> Détail de la séance {{ calendar.title }} </h1>
     <h2>Date: {{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</h2>
      <h2>Date: {{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</h2>
       {% for staff in calendar.staffs %}
        <h1> Staff:  {{ staff.fullName }} </h1>

      {% endfor %}


     <div class="action">
 

              

                <a href="{{ path('admin_main_calendar') }}">Retour au calendrier</a>

                <a href="{{ path('admin_staffplanning_edit', {'id': calendar.id}) }}">edit</a>
                {{ include('admin/calendar/_delete_form.html.twig') }}
    </div>  
       
{% endblock %}

{% block javascripts %}
<script>
    // Sélectionnez tous les éléments avec l'attribut data-confirm
    const confirmButtons = document.querySelectorAll('[data-confirm]');

    // Attachez un gestionnaire d'événements clic à chaque bouton
    confirmButtons.forEach(button => {
        button.addEventListener('click', function (e) {
            const confirmationMessage = this.getAttribute('data-confirm');
            if (!window.confirm(confirmationMessage)) {
                e.preventDefault(); // Annule le clic si l'utilisateur n'a pas confirmé
            }
        });
    });
</script>
{% endblock %}