{% extends 'base.html.twig' %}

{% block title %}Calendar-show{% endblock %}

{% block body %}
   <div class="milieu">
    <h1> {{ activity.title }}</h1>
     
       
        <img class="imgsite" src="{{ asset('uploads/images/' ~ activity.category.image) }}" alt="{{ activity.title }} Baie de Somme">




       <table class="table">
        <tbody>
            
            <tr>
                <th>Titre</th>
                <td>{{ activity.title }}</td>
                
            </tr>

        

            <tr>
                <th>Début de la séance</th>
                <td>{{ activity.start ? activity.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
            <tr>
                <th>Fin de la séance</th>
                <td>{{ activity.start ? activity.start|date('Y-m-d H:i:s') : ''}}</td>
            </tr>
              <tr>
                <th>Prix</th>
                <td>{{ activity.price | amount }}</td>
            </tr>
            <tr>
                <th>Quantité-disponible</th>
                <td>{{ activity.stock }}</td>
            </tr>

               
           <!--  <tr>
                <th>quantité commandée</th>
                <td>{#}{{ sommequantitecommande }}#}</td>
                
            </tr> -->
      
      
  </tbody>
    </table>
     </div>   
    

{% if activity.stock > 0 %}
     <div class="milieu">
           <a href="{{ path('cart_add', {'id': activity.id}) }}">Ajouter au panier</a>
          <a href="{{ path('app_calendar_filter') }}">Retour à la liste</a>
    </div>
{% else %}
    <div class="milieu">
                 <p>Stock insuffisant</p>
                
           </div>
{% endif %}
  
  
    
{% endblock %}
