{% extends 'base.admin.html.twig' %}

{% block title %}CategorySetting index{% endblock %}

{% block body %}
    <h1>CategorySetting </h1>

       <div class="onlydesktop">
     <table class="tableau">
        <thead class="tableau">
            <tr>
                <th class="colonnetableau">Title</th>
                <th class="colonnetableau">TextColor</th>
                <th class="colonnetableau">BackGroundColor</th>
                <th class="colonnetableau">action</th>
                <th class="colonnetableau">action</th>
            </tr>
        </thead>
        <tbody>
        {% for category_setting in category_settings %}
            <tr>
                 <td class="colonnetableaux">{{ category_setting.titleCategorySetting }}</td>
             <td class="colonnetableaux" style="background-color: {{ category_setting.textColor }}">{{ category_setting.textColor }}</td>
            <td class="colonnetableaux" style="background-color: {{ category_setting.backGroundColor }}">{{ category_setting.backGroundColor }}</td>

                <td class="colonnetableaux">
                    <a href="{{ path('app_admin_category_setting_show', {'id': category_setting.id}) }}">show</a>
                </td>
                   <td class="colonnetableaux">
                    <a href="{{ path('app_admin_category_setting_edit', {'id': category_setting.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucune correspondance trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

   

<div class="onlymobil">
        {% for category_setting in category_settings %}
               <p>{{ category_setting.titleCategorySetting }} </p>
               <p>{{ category_setting.textColor }} </p>
               <p>{{ category_setting.textColor }} </p>
               <p>{{ category_setting.backGroundColor }} </p>
               
                <p>
                  <a href="{{ path('app_admin_category_setting_show', {'id': category_setting.id}) }}">show</a>

                </p>
                <p>
                    <a href="{{ path('app_admin_category_setting_edit', {'id': category_setting.id}) }}">modifier</a>

                </p>
       
      
            
             
               
              
           
        {% else %}
           
                <p>Aucune Catégorie pour l'instant </p>
          
        {% endfor %}
        
   
  </div>
       <a href="{{ path('app_admin_category_setting_new') }}">Créer </a>
{% endblock %}
