{% extends 'base.admin.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Stock</th>
                <th>Price</th>
                <th>ModifiedPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Activity in activities %}
            <tr>
                <td>{{ Activity.id }}</td>
                <td>{{ Activity.title }}</td>
                <td>{{ Activity.start ? Activity.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Activity.end ? Activity.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Activity.stock }}</td>
                <td>{{ Activity.price }}</td>
                <td>{{ Activity.modifiedPrice }}</td>
                <td>
                    <a href="{{ path('app_admin_activitie_show', {'id': Activity.id}) }}">show</a>
                    <a href="{{ path('app_admin_activitie_edit', {'id': Activity.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune correspondance trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_formChooseCalendar') }}">Créer </a>
{% endblock %}
