{% extends 'base.admin.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Staff</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ staff.fullname }}</td>
            </tr>
       
        </tbody>
    </table>

    <a href="{{ path('admin_staff_index') }}">Retour à la liste</a>

    <a href="{{ path('admin_staff_edit', {'id': staff.id}) }}">modifier</a>

    {{ include('admin/staff/_delete_form.html.twig') }}
{% endblock %}
