{% extends 'base.admin.html.twig' %}

{% block title %}purchaseItem index{% endblock %}

{% block body %}
    <h1>purchaseItem index Back-office</h1>

    <div class="onlydesktop">
     <table class="tableau">
        <thead class="tableau">
            <tr>
              

            
                <th>PurchaseId</th>
                 <th>PurchaseItemId</th>
                <th>Activité</th>
                <th>Status</th>
                <th>Prix</th>
                <th>total</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseItem in purchaseItems %}
            <tr>
               
             
                <td class="tableau">{{ purchaseItem.id  }}</td>
                <td class="tableau">{{ purchaseItem.purchase.id  }}</td>
                <td class="tableau">{{ purchaseItem.activityName }}</td>
                <td class="tableau">{{ purchaseItem.purchase.status }}</td>
                 <td class="tableau">{{ purchaseItem.activityPrice | amount
                     }}</td>
                <td class="tableau">{{ purchaseItem.total |amount }}</td>
               

                  <td class="tableau">
                    <a href="{{ path('delete_purchaseitem', {'id':purchaseItem.id} ) }}" data-confirm="Êtes-vous sûr de vouloir supprimer la commande de cette commande?">Supprimer la commande</a>

                </td>
            </tr>

      {% else %}
           
                <p>Aucune correspondance trouvée</p>
            
        {% endfor %}


        </tbody>
    </table>
   </div>



   <div class="onlymobil">

       {% for purchaseItem in purchaseItems %}
           
                <h3>Activité</h3>
                  <p>{{ purchaseItem.activityName }}</p>
          
                <h3>Statut</h3>
                <p>{{ purchaseItem.purchase.status }}</p>
          
                <h3>Prix</h3>
                 <p>{{ purchaseItem.activityPrice | amount
                     }}</p>

                <h3>Total</h3>
                <p>{{ purchaseItem.total | amount }}  </p>

            
                <h3>action</h3>
                <p>
                    <a href="{{ path('delete_purchaseitem', {'id':purchaseItem.id} ) }}" data-confirm="Êtes-vous sûr de vouloir supprimer la commande de cette commande?">Supprimer la commande</a>
                </p>
          
         <hr>


    
        {% else %}
           
                <p>Aucune correspondance trouvée</p>
            
        {% endfor %}
    
   </div>
  
{% endblock %}

